<div class='grid-editor-item' style={{this.style}}>
  <div class='content'>
    {{yield}}
  </div>
  <span class='drag-left'></span>
  <button class='drag-down' onclick={{action 'down'}}>down</button>
  <button class='drag-right' onclick={{action 'right'}}>right</button>
  <span class='drag-top'></span>
</div>